
<div class="footer">
    <div class="footer_title">EMAIL & GITHUB</div>
    <div class="footer_email">Email : skguss1@gmail.com</div>
    <div class="footer_github">
        <span>Github : </span>
        <a href="https://github.com/Ahnder">https://github.com/Ahnder</a>
    </div>
</div>