<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container home home-about contenbox">
            <h1>About</h1>
            <p>Nodejs</p>
            <p>Database - MongoDB</p>
            <p>ViewFile - Ejs</p>
            <p>Css - Bootstrap</p>
            <p>heroku - server</p>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>