<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container home home-about contenbox">
            <h1>Project</h1>
            <p>이 사이트는 nodejs-express로 작성되었습니다.</p>
        </div>

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>